/* Заголовок колонок трек-листа */
.track-header {
  display: grid;
  grid-template-columns: 40px 3fr 1fr; /* 3 колонки: 
                                          50px - номер трека, 
                                          3fr - название (3 доли свободного пространства), 
                                          1fr - иконка избранного (1 доля) */
  padding: 1rem;                      /* Внутренние отступы для визуального разделения */
  color: #38bdf8;                     /* Акцентный синий цвет для выделения заголовков */
}

/* Адаптация для мобильных устройств */
@media (max-width: 768px) {
  .track-header {
      grid-template-columns: 40px 2fr 1fr; /* Уменьшаем ширину первой колонки */
      padding: 0.8rem;                   /* Меньшие отступы для компактности */
      font-size: 0.9em;                  /* Уменьшенный размер шрифта */
  }
}